#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  height: 100%;
  background-image: url(./images/backg.jpeg);
  background-size: cover;
}

.book-list-img {
  display: block;
  height: 100%;
  width: auto
}

.book-list-item {
  height: 12rem;
}

.book-container {
  height: 100%;
}

.book {
  height: 75%;
  width: 100%;
}

.book-img {
  display: block;
  width: auto
}